<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SmartNichoir</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<button id="toggle-sidebar">☰</button>

<h1>SmartNichoir</h1>

<div class="container">
    <!-- Grille de photos -->
    <div class="photos">
        {% for photo in photos %}
        <div class="photo-item">
            <img src="{{ url_for('static', filename=photo.file_path.split('static/')[-1]) }}" width="300" alt="{{ photo.file_name }}">
            <p>{{ photo.timestamp }}</p>
        </div>
        {% endfor %}
    </div>

<!-- Colonne droite -->
<div class="sidebar">
    <h2>Last Battery Stat</h2>
    {% if last_battery %}
        <p>{{ last_battery.percentage }}%</p>

        <h2>Last logs</h2>
        <div class="log-columns">

            <!-- ERROR LOGS -->
            <div class="log-col error">
                <h3>Errors</h3>
                {% for log in error_logs %}
                    <div class="log-item">
                        {{ log.timestamp.strftime("%d/%m/%Y %H:%M:%S") }}<br>
                        {{ log.message }}
                    </div>
                {% endfor %}
            </div>

            <!-- WARNING LOGS -->
            <div class="log-col warning">
                <h3>Warnings</h3>
                {% for log in warning_logs %}
                    <div class="log-item">
                        {{ log.timestamp.strftime("%d/%m/%Y %H:%M:%S") }}<br>
                        {{ log.message }}
                    </div>
                {% endfor %}
            </div>

            <!-- INFO LOGS -->
            <div class="log-col info">
                <h3>Info</h3>
                {% for log in info_logs %}
                    <div class="log-item">
                        {{ log.timestamp.strftime("%d/%m/%Y %H:%M:%S") }}<br>
                        {{ log.message }}
                    </div>  
                {% endfor %}
            </div>

        </div>

        <a href="/log">
            <button>All logs</button>
        </a>
    {% else %}
        <p>No data</p>
    {% endif %}
</div>


<script>
    const toggleBtn = document.getElementById("toggle-sidebar");
    const container = document.querySelector(".container");

    toggleBtn.addEventListener("click", () => {
        container.classList.toggle("sidebar-hidden");
    });
</script>

</body>
</html>
