<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SmartNichoir</title>
</head>
<body>

<h1>SmartNichoir</h1>

<h2>Dernière batterie : 
    {% if last_battery %}
        {{ last_battery.percentage }}%
    {% else %}
        Aucune donnée
    {% endif %}
</h2>

<h2>Photos</h2>

{% for photo in photos %}
  <div style="margin-bottom: 20px;">
    <p>{{ photo.timestamp }}</p>
    <img src="{{ url_for('static', filename=photo.file_path.split('static/')[-1]) }}" width="300">
  </div>
{% endfor %}

</body>
</html>
